h5, p {
    text-align: left;
}

.list-unstyled {
    text-align: left;
}

.nav-item {
    text-align: left;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #343A40;
}